---
layout: default
---

<article class="recipe">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

    <p>{{page.description}}</p>

    {%- if page.image -%}
      <img src="{{ "/assets/images/" | absolute_url }}{{page.image}}" alt="{{page.image-alt}}" />
    {%- endif -%}

    <p><strong>Rating</strong>: {{page.rating}}/5</p>
    <p><strong>Prep-time</strong>: {{page.prep-time}}</p>
    <p><strong>Cook-time</strong>: {{page.cook-time}}</p>
    <p><strong>Total cook time</strong>: {{page.prep-time | plus: page.cook-time}}</p>
    <p><strong>Serves</strong>: {{page.serves}}</p>

    {{ content }}
  </div>

</article>

<hr>

<h3>All recipes</h3>

{% for page in site.pages %}
  {% if page.layout == "recipe" %}
    <div class="item">
      <h4><a href="{{page.url | prepend:site.baseurl}}">{{page.title}}</a></h4>
      <p>{{page.description}}</p>
    </div>
  {% endif %}
{% endfor %}
