---
layout: default
---

<article class="recipe">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

    {%- if page.description -%}
      <p>{{page.description}}</p>
    {%- endif -%}

    {%- if page.image -%}
      <p><img src="{{ "/assets/images/" | absolute_url }}{{page.image}}" alt="{{page.image-alt}}" /></p>
    {%- endif -%}

    <p>
      {%- if page.rating -%}<strong>Rating</strong>: {{page.rating}}/5 <br />{%- endif -%}
      {%- if page.prep-time -%}<strong>Prep-time</strong>: {{page.prep-time}}<br />{%- endif -%}
      {%- if page.cook-time -%}<strong>Cook-time</strong>: {{page.cook-time}}<br />{%- endif -%}
      <strong>Total cook time</strong>: {{page.prep-time | plus: page.cook-time}}<br />
      {%- if page.serves -%}<strong>Serves</strong>: {{page.serves}}{%- endif -%}
    </p>

    {{ content }}
  </div>

</article>

<hr />

{%- include list.html -%}
